.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: 0 0;
  opacity: 0;
  pointer-events: none;


  &.opened {
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.68);
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;

    .modal__wrapper {
      transform: translateY(0);
    }
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 70px 20px;
  overflow: auto;
  transform: translateY(-30px);
  transition: opacity 0.3s, transform 0.5s;
}

.modal__body {
  position: relative;
  width: 100%;
  max-width: 500px;

  &--thx {
    max-width: 418px;
    padding: 33px 35px;
    text-align: center;
    background: #ffffff;

    .modal__title {
      margin-top: 19px;
      margin-bottom: 15px;
    }
  }
}

.modal__text {
  max-width: 292px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}

.modal__box {
  padding: 26px 26px 34px 24px;
  background-color: #ffffff;
}

.modal__img {
  padding-bottom: 53%;
  background-image: url("../../img/modern-hobbies-and-applications@mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: -37px;
  left: 50%;
  width: 20px;
  min-width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translateX(-50%);
  cursor: pointer;

  & svg {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    fill: #777777;
  }

  &:hover {
    & svg {
      fill: #ffffff;
    }
  }
}


@media (min-width: 1000px) {
  .modal__body {
    display: flex;
    flex-direction: row-reverse;
    max-width: 845px;

    &--thx {
      display: block;
      max-width: 418px;
    }
  }

  .modal__box {
    width: 50%;
    padding: 40px 70px 60px 58px;
  }


  .modal__title {
    margin-bottom: 45px;
    font-size: 22px;
    line-height: 27px;
  }

  .modal__img {
    width: 50%;
    background-image: url("../../img/modern-hobbies-and-applications.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
