.place {
  position: relative;
}

.place__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #4299ff;
}

.place__content {
  display: flex;
  align-items: flex-start;
  padding: 18px;
  background: #f5faff;
}

.place__logo {
  width: 80px;
  min-width: 80px;
  margin-right: 20px;

  svg {
    width: 100%;
  }
}

.place__text {
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}

@media (min-width: 900px) {
  .place__logo {
    width: 110px;
    min-width: 110px;
    margin-right: 30px;
  }

  .place__content {
    align-items: center;
    padding: 34px;
  }

  .place__text {
    font-size: 14px;
    line-height: 20px;
  }
}
