.promo {
  padding-bottom: 48px;
}

.promo__list {
  @include list-reset;
  margin-bottom: 18px;
}

.promo__controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 35px;

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    top: unset;
    right: unset;
    left: unset;
    width: 15px;
    height: 8px;
    margin: 0;
    margin-top: 2px;
    background: transparent;
    border: none;
    opacity: 1;

    &::after {
      display: none;
    }

    svg {
      width: 15px;
      min-width: 15px;
      height: 8px;

      transition: all 0.3s;
      fill: #e4e4e4;

      &:hover {
        fill: #4299ff;
      }
    }
  }

  .swiper-button-next {
    transform: rotate(180deg);
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 10px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 15px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    span {
      font-size: 12px;
      line-height: 140.69%;
      /* identical to box height, or 17px */

      text-align: right;

      color: #e4e4e4;
    }
  }

  .swiper-pagination-bullet {
    height: auto;
    background: transparent;
    opacity: 1;

    .bullet {
      content: "";
      position: relative;
      display: block;
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      margin-bottom: 7px;
      background: #e4e4e4;
      border-radius: 50%;
      opacity: 1;

      &::before {
        @include pseudo;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 18px;
        height: 18px;
        border: 1px dashed #4299ff;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s;
        pointer-events: none;
      }
    }

    &-active {
      .bullet {
        background: #4299ff;

        &::before {
          opacity: 1;
        }
      }
    }

    &-active span + span {
      color: #4299ff;
    }
  }
}

.promo__places {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.promo__place {
  margin-bottom: 20px;
}

.promo__image {
  display: block;
  margin-bottom: 32px;
}

.promo__content {
  padding: 0 20px 60px 20px;
  background-image: url("../../img/promo_bg@mobile.png");
  background-repeat: no-repeat;
  background-position: top;
}

.promo__accent {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 20px;
  color: #4299ff;
}

.promo__title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 35px;
  line-height: 113.02%;
  color: #222222;
}

.promo__desc {
  margin-bottom: 48px;
  font-size: 25px;
  line-height: 31px;
  color: #222222;
}

.promo__button {
  margin-bottom: 9px;
}

.promo__text {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #767676;
  opacity: 0.7;
}

.promo__img {
  position: relative;
  z-index: 10;
  display: block;
  height: 342px;
  object-fit: cover;
  mask-image: url("../../img/promo@mobile.png");
  mask-position: bottom;
  mask-size: cover;
}

.promo__item {
  opacity: 0 !important;

  &.swiper-slide-active {
    opacity: 1 !important;
  }
}

@media (min-width: 700px) {
  .promo__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 500px;
  }

  .promo__slider {
    position: relative;
  }

  .promo__controls {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 200;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0;
    transform: translateY(-50%);

    .swiper-pagination {
      flex-direction: column;
      justify-content: center;
      margin: 15px 0;

      span {
        color: #ffffff;
      }

      div {
        flex-direction: row-reverse;
        align-items: center;
        color: #ffffff;

        &:not(:last-child) {
          position: relative;
          margin-right: 0;
          margin-bottom: 30px;

          &::before {
            @include pseudo;
            position: absolute;
            top: 21px;
            right: -7px;
            z-index: 10;
            width: 2px;
            height: 17px;
            background: #ffffff;
            opacity: 0.2;
          }
        }
      }
    }

    .swiper-pagination-bullet {
      .bullet {
        margin-bottom: 0;
        margin-left: 13px;
        background: #ffffff;
      }

      &-active {
        .bullet {
          background: #4299ff;
        }
      }
    }

    .swiper-button-prev {
      margin-right: -13px;
      transform: rotate(90deg);

      svg {
        fill: #ffffff;
      }
    }

    .swiper-button-next {
      margin-right: -13px;
      transform: rotate(-90deg);

      svg {
        fill: #ffffff;
      }
    }
  }

  .promo__img {
    height: 500px;
    mask-position: left bottom;
    mask-image: url("../../img/promo@desktop.png");
  }

  .promo__list {
    align-self: flex-start;
  }
}

@media (min-width: 900px) {
  .promo__places {
    display: inline-flex;
    flex-wrap: nowrap;
  }

  .promo__place {
    margin-bottom: 0;

    &:first-child {
      max-width: 374px;
      margin-right: 40px;
    }

    &:last-child {
      max-width: 470px;
    }
  }
}

@media (min-width: 1200px) {
  .promo {
    background-image: url("../../img/promo_bg@desktop.png");
    background-repeat: no-repeat;
    background-position: top;
  }

  .promo__img {
    min-height: 750px;
  }

  .promo__list {
    position: relative;

    &::before {
      @include pseudo;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 197px;
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .promo__inner {
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .promo__places {
    padding-left: calc(50% - 585px);
  }

  .promo__content {
    box-sizing: content-box;
    max-width: 560px;
    padding: 0;
    padding-left: calc(50% - 585px);
    background-image: none;
  }

  .promo__image {
    flex-grow: 1;
  }

  .promo__accent {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 29px;
  }

  .promo__title {
    margin-bottom: 4px;
    font-size: 65px;
    line-height: 107.52%;
  }

  .promo__desc {
    margin-bottom: 61px;
    font-size: 40px;
    line-height: 49px;
  }

  .promo__button {
    max-width: 256px;
    margin-right: 32px;
    margin-bottom: 0;

    span {
      margin-left: 23px;
    }
  }

  .promo__bottom {
    display: flex;
    align-items: center;
  }

  .promo__text {
    max-width: 186px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}
