.nav__list {
  @include list-reset;
}

.nav__item {
  text-align: center;
}

.nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 26px;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s;

  &:hover {
    color: #ffffff;
    background-color: $main-color;
  }
}

@media (min-width: 1200px) {
  .nav__list {
    display: flex;
  }

  .nav__item {
    &:not(:first-child) {
      margin-left: 65px;
    }
  }

  .nav__link {
    position: relative;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;

    &:hover {
      color: $main-color;
      background-color: transparent;
    }

    &::before {
      content: "";
      position: absolute;
      top: -45px;
      left: 0;
      display: none;
      width: 100%;
      height: 3px;
      background-color: #49a3fe;
      transition: all 0.3s;
    }

    &:hover::before {
      display: block;
    }
  }
}
