@import "./button/button";
@import "./tabs/tabs";
@import "./page/page.scss";
@import "./visually-hidden/visually-hidden.scss";
@import "./header/header.scss";
@import "./nav/nav.scss";
@import "./burger/burger.scss";
@import "./footer/footer.scss";
@import "./logo/logo.scss";
@import "./title/title.scss";
@import "./contact/contact.scss";
@import "./messagers/messagers.scss";
@import "./tariff/tariff.scss";
@import "./promo/promo";
@import "./place/place";
@import "./solutions/solutions";
@import "./step/step";
@import "./integrations/integrations";
@import "./modal/modal.scss";
@import "./form/form.scss";
@import "./field/field.scss";
@import "./lock/lock";
@import "./text-block/text-block";
@import "./pin/pin";
