.integrations {
  background-image: url("../../img/circle2.svg");
  background-repeat: no-repeat;
  background-position: 0 100px;
  background-size: contain;
}

.integrations__wrap {
  padding: 32px 20px;
}

.integrations__title {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.integrations__box {
  &--payment {
    margin-top: -85px;
  }
}

.integrations__list {
  @include list-reset;
}

.integrations__item {
  display: flex;
  flex-direction: column;

  &--payment {
    margin-bottom: 4px;
  }

  &--chats {
    margin-bottom: 35px;
  }
}

.integrations__name {
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 131.02%;
}

.integrations__sublist {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.integrations__subitem {
  position: relative;
  height: 29.2vw;
  padding: 10px;
  border: 1px solid #e6e6e6;

  &:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  }
}

.integrations__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.integrations__img {
  position: relative;
  order: -1;
  margin: 0 -20px;
  margin-bottom: 25px;

  &--delivery {
    margin-bottom: 20px;
  }
}

.integrations__text {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 141.02%;
}

@media (min-width: 1200px) {
  .integrations__wrap {
    padding-top: 75px;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
  }

  .integrations__title {
    margin-bottom: 100px;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #252525;
  }

  .integrations__item {
    position: relative;
    flex-direction: row;
    align-items: center;

    &:first-child {
      @include page-wrapper;
      z-index: 100;
    }

    &:nth-child(3) {
      margin-top: -100px;
      padding-right: calc(50% - 585px);

      .integrations__box {
        position: relative;
        z-index: 100;
        min-width: 545px;
        margin-left: -120px;
      }
    }

    &:nth-child(2) {
      justify-content: space-between;
      margin-top: -100px;
      padding-left: calc(50% - 585px);

      .integrations__img {
        margin-left: auto;
      }

      .integrations__box {
        position: absolute;
        right: 650px;
        z-index: 100;
        min-width: 535px;

        .integrations__text {
          position: relative;

          &::before {
            @include pseudo;
            position: absolute;
            top: 50%;
            right: -6px;
            width: 9px;
            min-width: 9px;
            height: 9px;
            margin-bottom: 0;
            background: #4299ff;
            border-radius: 50%;
            transform: translateY(-50%);
          }

          &::after {
            @include pseudo;
            position: absolute;
            top: -15px;
            right: 5px;
            width: 430px;
            height: 1px;
            border-bottom: 2px dashed #4299ff;
            transform: translateX(100%) rotate(-19.1deg);
          }

          &--payment {
            max-width: 410px;
            margin-left: auto;
          }
        }
      }
    }
  }

  .integrations__box {
    &--chats {
      margin-left: -140px;
    }
  }

  .integrations__name {
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 37px;

    &--payment {
      font-size: 35px;
      line-height: 43px;
    }
  }

  .integrations__sublist {
    @include list-reset;
    display: grid;
    grid-template-columns: repeat(3, 133px);
    grid-template-rows: repeat(3, 133px);
  }

  .integrations__subitem {
    height: inherit;

    &:hover {
      position: relative;
      z-index: 100;
      background-color: #ffffff;
      border: none;
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
      transform: scale(1.2);
      transition: all 0.3s;
    }
  }

  .integrations__img {
    width: 869px;
    min-width: 869px;
    margin: 0;

    &--chats {
      width: 869px;
      min-width: 869px;
      margin-left: -100px;
    }

    &--payment {
      order: inherit;
    }
  }

  .integrations__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 132.02%;

    &--payment {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 408px;
      padding: 38px 32px 39px 18px;
      text-align: right;
      background-color: #ffffff;
      border-right: 3px solid #4299ff;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    }
  }
}

@media (min-width: 1360px) {
  .integrations__item {
    &:nth-child(2) {
      .integrations__box {
        right: 770px;

        .integrations__text {
          &::after {
            width: 545px;
            transform: translateX(100%) rotate(-15.1deg);
          }
        }
      }
    }
  }
}


@media (min-width: 1900px) {
  .integrations__item {
    &:nth-child(2) {
      .integrations__box {
        position: relative;
        right: unset;

        .integrations__text {
          &::after {
            top: -14px;
            width: 776px;
            transform: translateX(100%) rotate(-10.5deg);
          }
        }
      }
    }

    &:nth-child(3) {
      .integrations__box {
        max-width: 544px;
        margin-left: auto;
      }
    }
  }
}
